{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/stile.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <div class="container">
        <div class="header_inner">
            <a href="">
                Главная
            </a>
            <a href="">
                Магазин
            </a>
            <a href="{% url 'carzina' %}">
                Корзина
            </a>
            <a href="{% url 'favorit' %}">
                Избранные
            </a>
            <a href="{% url 'about_us' %}">
                О нас
            </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'sing_in' %}">
                Регистрация
            </a>
            <a href="{% url 'sing_up' %}">
                Sing_up
            </a>
            {% else %}
            <a href="">
                {{user.username}}
            </a>
            <a href="{% url 'logout' %}">
                Logout
            </a>
            {% endif %}
            
        </div>
    </div>
</header>
<!-- <div class="container">
        
        <div class="cart">
        <div class="cart_left">
            {% for i in nike %}
            <div class="product_row">
                <img src="{{ i.image.url }}" width="100%" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a style="text-decoration: none; color: black;" href="{% url 'detal' i.id %}">{{i.title}}</a></h5>
                  <p class="card-text">{{i.price}} сом</p>
                  <button><a style="text-decoration: none; color: white;" href="{% url 'carzines' i.id %}"  type="button">Добавить в корзину</a></button>
                </div>
              </div>  
            {% endfor %}
        </div>
        <div class="cart_right">
            <p>Итоговая цена{}</p>
            <p>Количество товаров{}</p>
            <a href="">Офформить заказ</a>
        </div> -->
    <div class="container">
        {% for i in messages %}
            <h1 >{{i}}</h1>
        {% endfor %}
        <div class="card_left">
            {% for i in nike %}
            <div class="product_row">
                <img src="{{ i.image.url }}" width="100%" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a style="text-decoration: none; color: black;" href="{% url 'detal' i.id %}">{{i.title}}</a></h5>
                  <p class="card-text">{{i.price}} сом</p>
                  <button><a style="text-decoration: none; color: white;" href="{% url 'carzines' i.id %}"  type="button">Добавить в корзину</a></button>
                </div>
              </div>  
            {% endfor %}
        </div>
    </div>
    
    </div>
    </div>
</body>
</html>